<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite" guice-stage="DEVELOPMENT">
    <test thread-count="5" name="WikipediaSearchResultTest">
        <classes>
            <class name="com.wikipediaAppiumProject.tests.WikipediaSearchResultTest"/>
        </classes>
    </test> <!-- WikipediaSearchResultTest -->
</suite> <!-- Default Suite -->